body{
    margin: 0px;
}
.lll{
    width: 100%;
}
.d3{
    width: 150px;
}
.body-1{
    margin-top: 5rem;
    min-height: 100%;
    width: 100%;
    /* margin: auto; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* profile */
.profile{
    background-color: #fff;
    padding: 10px 0 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.profile > div {
    padding: 0px 40px 0px 40px;
}
.photo{
    width: 400px;
}
.photo-top{
    display: flex;
    align-items: center;
    cursor: pointer;
    border: solid black 1px;   
    width: 100%;
    height: 200px;
}
.photo-top > div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.photo-top > div > input{
    display: none;
    background-color: white;
    border: 1px dashed black;
    cursor: pointer;
}
.photo-button{
    border: solid black 1px;
    width: 100%;
}
.photo-button > div{ 
    display: inline-flex;   
    width: 120px;
    padding: 5px;
    cursor: pointer;
}
.photo-button > div > img{
    border: solid black 1px;
    width: 100%;
}
.profile-1{
    width: 500px;
}
.form > div {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px 10px 0px;
    font-size: 20px;
}
div > label{
    display: flex;
    width: 110px;
}
div > label > input{
    width: 100px; 
}
/* #product-spe{
    display: block;
} */
.product-spe > label{
    width: 120px;
    padding-right: 14px;
}
.add-spe{
    margin: 0 0 10px 10px;
    width: 500px;
    background-color: rgb(207, 245, 227,0.5);
    padding: 16px;
}
.add-spe2{
    margin-left: 10px;
    width: 500px;
    background-color: rgb(207, 245, 227,0.5);
    padding: 16px;
}
.add-spe-name{
    display: flex;
}
.add-spe-name > span{
    font-size: 14px;
    width: 55px;
}
.add-pro{
    display: flex;
    margin-bottom: 10px;
}
.div_space{
    padding-right: 55.5px;
}
.add-pro2{
    width: 100%;
    display: inline-flex;
}
.add-pro > input{
    padding: 10px 4px 10px 0;
}
.add-spe-pro{
    margin-top: 10px;
}
.add-spe-pro > span{
    padding-right: 24px;
    font-size: 14px;
    width: 55px;
}
.add-btn{
    margin-top:10px ;
    border: 1px dashed black;
    background-color: blueviolet;
    width: 100%;
}
.add-btn:hover{
    cursor: pointer;
}
.product-volume{
    display: flex;
}
.product-volume > div > input{
    width:50px ;
}
.product-intro{
    display:flex;
}
.product-intro > label{
    min-width: 110px;
}
.product-intro > textarea{
    min-width: 500px;
    min-height: 200px;
    max-width: 500px;
    max-height: 450px;
}
.product_btn{
    display: flex;
    justify-content:center ;
}
.product_btn > input{
    width: 50px;
    height: 40px;
    margin: 0 10px 0 10px;
    box-shadow: 1px 1px 3px #F0F0F0;
}

@media screen and (max-width:550px){
    .body-1{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    /* profile */
    .profile{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .profile > div {
        padding: 0px 8px 0px 8px;
    }
    .photo{
        width: 100%;
    }
    .photo-top{
        cursor: pointer;
        border: solid black 1px;   
        width: 100%;
    }
    .photo-top > div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .photo-top > div > img{
        width: 100%;
    }
    .photo-top > div > input{
        display: none;
        background-color: white;
        border: 1px dashed black;
        cursor: pointer;
    }
    .photo-button{
        display: flex;
        justify-content: center;
        border: solid black 1px;
        width: 100%;
    }
    .photo-button > div{ 
        display: inline-flex;   
        width: 60px;
        padding: 10px;
        cursor: pointer;
    }
    .photo-button > div > img{
        border: solid black 1px;
        width: 100%;
    }
    .profile-1{
        width: 100%;
        /* margin: 0px; */
        display: flex;
        padding: 0 10px 0 10px;
    }    
    .form > div {
        display: flex;        
        margin: 10px 0px 10px 0px;
        font-size: 15px;
    }
    div > label{
        display: flex;
        width: 70px;
    }  
    div > input{
        width: 250px;
    }   
    .product-type > select{
        width: 258px;
    } 
    .product-spe{
        display: block;
    }  
    .product-spe > label{
        display: none;
    }  
    .product-spe > label{
        text-align: center;
        width: auto;
        padding-right:0px;
    }
    .add-spe{
        width: 250px;
        background-color: blanchedalmond;
        padding: 8px;
    }
    .add-spe2{
        width: 250px;
        padding: 8px;
    }
    .add-spe-name{
        display: flex;
    }
    .add-spe-name > span{
        font-size: 14px;
        width: 55px;
    }
    .add-spe-name > input{
        width: 100px;
    }
    .add-pro{
        display: inline-flex;
        margin-bottom: 10px;
    }
    .add-pro > input{
        width: 170px;
    }
    .div_space{
        padding-right: 0px;
    }    
    .add-pro > input{
        padding: 10px 4px 10px 0;
    }
    .add-spe-pro{
        margin-top: 10px;
        text-align: center;
    }
    .add-spe-pro > span{
        padding-right: 0px;
        font-size: 14px;
        width: 100%;
        display: inline-flex;
    }
    .add-btn{
        margin-top:10px ;
        border: 1px dashed black;
        background-color: blueviolet;
        width: 100%;
    }
    .add-btn:hover{
        cursor: pointer;
    }
    .product-volume{
        display: flex;
    }
    .product-volume > label{
        width: 50px;
    }
    .product-volume > div > input{
        width:50px ;
    }
    .product-intro{
        display:flex;
    }
    .product-intro > label{
        min-width: 70px;
    }
    .product-intro > textarea{
        min-width: 250px;
        min-height: 50px;
        max-width: 250px;
        max-height: 50px;
    }
    .product_btn{
        display: flex;
        justify-content:center ;
    }
    .product_btn > button{
        width: 50px;
        height: 40px;
        margin: 0 10px 0 10px;
    }
}
@media screen and (max-width:280px){
    div > input{
        width: 180px;
    } 
    
    .product-type > select{
        width: 188px;
    } 
    
    .add-spe{
        width:180px;
        background-color: blanchedalmond;
        padding: 8px;
    }

    .product-intro > textarea{
        min-width: 180px;
        min-height: 50px;
        max-width: 180px;
        max-height: 50px;
    }
}

@media screen and (min-width:550px) and (max-width:1024px){
    .body-1{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    /* profile */
    .profile{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .profile > div {
        padding: 0px 8px 0px 8px;
    }
    .photo{
        width: 100%;
    }
    .photo-top{
        cursor: pointer;
        border: solid black 1px;   
        width: 100%;
    }
    .photo-top > div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .photo-top > div > img{
        width: 100%;
    }
    .photo-top > div > input{
        display: none;
        background-color: white;
        border: 1px dashed black;
        cursor: pointer;
    }
    .photo-button{
        display: flex;
        justify-content: center;
        border: solid black 1px;
        width: 100%;
    }
    .photo-button > div{ 
        display: inline-flex;   
        width: 60px;
        padding: 10px;
        cursor: pointer;
    }
    .photo-button > div > img{
        border: solid black 1px;
        width: 100%;
    }
    .profile-1{
        width: 100%;
    }    
    .form > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px 0px 10px 0px;
        font-size: 15px;
    }
    div > label{
        display: flex;
        width: 70px;
    }   
    div > input{
        width: 260px;
    } 
    .product-type > select{
        width: 270px;
    }
    .product-spe > label{
        display: none;
        text-align: center;
        width: auto;
        padding-right:0px;
    }
    .add-spe{
        width: 250px;
        margin-left: 8px;
        background-color: blanchedalmond;
        padding: 8px;
    }
    .add-spe2{
        width: 250px;
    }
    .add-spe-name{
        display: flex;
        justify-content: left;
    }
    .add-spe-name > span{
        font-size: 14px;
        width: 50px;       
    }
    .add-spe-name > input{
        width: 170px;
        padding: 10px 4px 10px 0;
        margin-right: 25px;
    }
    .add-spe-pro{
        margin-top: 10px;
        width: 100%;
    }
    .div_space{
        padding-right: 49px;
    }
    .add-pro{
        width: 200px;
        display: flex;
        margin-bottom: 10px;
    }  
    .add-pro > input{
        padding: 10px 4px 10px 0;
    }
    .add-spe-pro > span{        
        text-align: center;
        padding-right:0px;
        font-size: 14px;
        width: auto;
    }
    .add-btn{
        margin-top:10px ;
        border: 1px dashed black;
        background-color: blueviolet;
        width: 100%;
    }
    .add-btn:hover{
        cursor: pointer;
    }
    .product-volume{
        display: flex;
    }
    .product-volume > div > input{
        width:50px ;
    }
    .product-intro{
        display:flex;
    }
    .product-intro > label{
        min-width: 70px;
    }
    .product-intro > textarea{
        min-width: 260px;
        min-height: 50px;
        max-width: 260px;
        max-height: 50px;
    }
    .product_btn{
        display: flex;
        justify-content:center ;
    }
    .product_btn > button{
        width: 50px;
        height: 40px;
        margin: 0 10px 0 10px;
    }


}

input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

select {

    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5rem;
    /* padding: 0.5em 3.5em 0.5em 1em; */
    padding:0.3rem 3rem 0.1rem 0.3rem;
  
    /* reset */
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }


  /* arrows */

select.classic {
    background-image:
      linear-gradient(45deg, transparent 50%, blue 50%),
      linear-gradient(135deg, blue 50%, transparent 50%),
      linear-gradient(to right, skyblue, skyblue);
    background-position:
      calc(100% - 20px) calc(1rem + 2px),
      calc(100% - 15px) calc(1rem + 2px),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5rem 2.5rem;
    background-repeat: no-repeat;
  }
  
  select.classic:focus {
    background-image:
      linear-gradient(45deg, white 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, white 50%),
      linear-gradient(to right, gray, gray);
    background-position:
      calc(100% - 15px) 1rem,
      calc(100% - 20px) 1rem,
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5rem 2.5rem;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
  }