body{
    width: 100%;
    margin: 0;    
}
/* header */

/* profile */
.profile{
    min-height: 100%;
    width: 450px;
    padding-top:20px;
    margin: auto;        
}
.profile-picture{
    width: 100%;  
    padding-bottom:20px;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-picture > div{
    width: 200px;
}
.profile-picture > div > img{
    width: 100%;
}
.profile-imformation{
    margin: auto;
    width: 450px;    
}
.profile-imformation-1{
    margin: auto;
    width: 100%;
}
.name{
    margin: 30px 0;
    display: flex;
    justify-content: center;
}
.name-name{
    font-size: 24px;
    font-weight: bold;
    width: 250px;
    text-align: left;    
}
.name-name > span{
    padding-left: 30px;
}
.name-text{
    width: 100%;
}
.profile-button{
    display: flex;
    justify-content:center;
    align-items: center;
}
.profile-button > div{
    margin: 0 30px;
}
.profile-button > div > button{
    width: 50px;
    border-radius: 12px;
}
.profile-button > div > button:hover{
    background-color: #ADADAD;
}
.profile-button > div > button:active{
    transform: translateY(3px);
}

footer{
    font-size: 18px;
    margin-top: 30px;
    padding-top:30px ;
    background-color: bisque;
}

.footer{
    display: flex;
}

.footer-link > div{
    display: flex;
    align-items: center;
    height: 100%;
}

.footer-link > div >a{
    color: black;
    text-decoration: none;
    padding: 0 10px 0 10px;
}

.footer-img{
    width: 70px;
}

.footer-img > img{
    width: 100%;
}

.footer-footer{
    display: flex;
    justify-content: center;
}

/* Phone */
@media screen and (max-width:550px){
    body{
        width:100%;
        margin: 0;    
    } 
/* profile */
.profile{
    width: 100%;
    padding-top:20px;
    margin: auto;        
}
.profile-picture{
    width: 100%;  
    padding-bottom:20px;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-picture > div{
    width: 200px;
}
.profile-picture > div > img{
    width: 100%;
}
.profile-imformation{
    margin: auto;
    width: 100%;    
}
.profile-imformation-1{
    margin: auto;
    width: 90%;
    height: auto;
}
.profile-imformation-1 > form{
    margin: auto;
    width: 100%;
    height: auto;
}
.name{
    width: auto;
    height: auto;
    margin: 30px 0;
    display: flex;
    justify-content: center;
}
.name-name{
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    text-align: left;    
}
.name-name > span{
    padding-left: 30px;
}
.name-text{
    
    width: 100%;
}
.profile-button{
    display: flex;
    justify-content:center;
    align-items: center;
}
.profile-button > div{
    margin: 0 30px;
}
.profile-button > div > button{
    width: 50px;
    border-radius: 12px;
}
.profile-button > div > button:hover{
    background-color: #ADADAD;
}
.profile-button > div > button:active{
    transform: translateY(3px);
}
}