body{
    margin: 0%;
}
#chart{
    width: 500px;
    height: 600px;
}
.tbody{
    border: 1px solid black;
}
.body-1{
    margin: 4rem auto 0 auto;
    display: flex;
    flex-wrap:wrap;
    width: 1000px;
    height: 500px;
}
p{
    font-size: 2.3rem;
    margin: 0;
    display: flex;
    align-items: center;
}
.rect{
    transition: 0.5s;
}
.rect:hover{
    fill: red;
}