body{
    margin: 0px;
    font-family: "微軟正黑體";
}
.demander_allproduct{
    font-weight: bold;
    border-radius: 3px;
    background-color: #e0e0e0;
}
.body-1{
    margin: 4rem 1rem 0 1rem;
    min-height: 100%;
}
.all-product{
    width: 100%;  
    display:flex;
    justify-content: center  
}
.all-product-1{
    width: 100%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.allproduct-title{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
    margin: 10px 0 15px 0;
}
hr{
    width: 100%;
    margin-bottom: 30px;
}
.allproduct-title>p{
    margin:0;
    font-size: 2.3rem;
}
.allproduct-title > span{
    width: 290px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
.select-1{   
    width: 100%;
    background: rgba(0, 0, 0, 0.03);
    margin: 0 0 1rem 0;
    padding: 20px 0 20px 0;
}
.select-1 > select{
    width: 100px;
    height: 30px;
    text-align: center;
    appearance: none;
    margin: 0 10px 0 10px;
    cursor: pointer;
}
.product{
    width: 209px;
    text-align: center;
    padding: 5px;    
}
.product-1{
    width: 100%;
    /* border: 1px solid black; */
    box-shadow: 1px 1px 1px rgb(0, 0, 0,0.1);
}
.product-img{
    width: 100%;
    height: 215px;
    background-color: white;
}
.product-img > img{
    width: 100%;
    height: 100%;
}
.product-btn{
    background-color: #E0E0E0;
    border: none;
    cursor: pointer;
    padding: 6px 0px 5px 0px;
    width: 100%;
    transition: 0.5s;
    color: black;
    box-shadow: 1px 1px 1px black;
}
.product-descript{
    text-align: left;
}
.product-descript a{
    color: black;
    text-decoration: none;
    text-align: left;
}
.product-price,.product-name,.product-invent{
    padding: 0 10px 0 10px;
}
.product-name{
    font-size: 1.1rem;
}
.product-price{
    font-size: 0.8rem;
    font-weight: 700;
    color: #e21c00!important;
}
.product-invent{
    font-size: 0.5rem;
}
.form1{
    display: flex;
}
.adver{
    width: 100px;
    display: flex;
    align-items: center;
}
.adver > img{
    width: 100%;
}

@media screen and (max-width:550px){
    .demander_allproduct{
        font-weight: bold;
        border-radius: 3px;
        background-color: #e0e0e0;
    }
    .body-1{
        margin: 4rem 1rem 0 1rem;
        min-height: 100%;
    }
    .all-product{
        width: 100%;  
        display:flex;
        justify-content: center  
    }
    .all-product-1{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .allproduct-title{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items:flex-end;
        margin: 10px 0 15px 0;
    }
    hr{
        width: 100%;
        margin-bottom: 30px;
    }
    .allproduct-title>p{
        margin:0;
        font-size: 2.3rem;
    }
    .allproduct-title > span{
        width: 290px;
        display: flex;
        justify-content: end;
        align-items: flex-end;
    }
    .select-1{   
        width: 100%;
        background: rgba(0, 0, 0, 0.03);
        margin: 0 0 1rem 0;
        padding: 20px 0 20px 0;
    }
    .select-1 > select{
        width: 100px;
        height: 30px;
        text-align: center;
        appearance: none;
        margin: 0 10px 0 10px;
        cursor: pointer;
    }
    .product{
        width: 209px;
        text-align: center;
        padding: 5px;    
    }
    .product-1{
        width: 100%;
        border: 1px solid black;
    }
    .product-img{
        width: 100%;
        height: 215px;
        background-color: white;
    }
    .product-img > img{
        width: 100%;
        height: 100%;
    }
    .product-btn{
        background-color: #E0E0E0;
        border: none;
        cursor: pointer;
        padding: 6px 0px 5px 0px;
        width: 100%;
        transition: 0.5s;
        color: black;
        box-shadow: 1px 1px 1px black;
    }
    .btn{
        width: 200px;
        /* border: 0.5px solid white ; */
        box-shadow: 0px 0px 1px gray;
        cursor: pointer;
    }
    /* .btn:hover{
        background-color: white;
    } */
    .product-btn:hover {
        background-color: rgb(160, 160, 160,0.5);
    }
    .form1{
        display: flex;
    }
    .adver{
        width: 100px;
        display: flex;
        align-items: center;
    }
    .adver > img{
        width: 100%;
    }
    
}

.all-type{
    border-radius: 5px;
}