body{
    margin: 0px;
    font-size: 1rem;
    font-family: 微軟正黑體;
}
.body-1{
    width: 100%;
    min-height: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* profile */
.profile{
    background-color: #fff;
    width: 1200px;
    display: flex;
    padding: 10px;
    justify-content: center;
}
/* .profile > div {
    padding: 0px 50px 0px 50px;
} */
.photo{
    width: 400px;
    padding: 15px;

}
.photo-top{    
    border: solid rgb(168, 164, 164) 1px;  
    width: 100%;
    background-color: #fafafa;
}
.photo-top > div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.photo-button{
    background-color: #fafafa;
    display: flex;
    border: solid rgb(168, 164, 164) 1px;
    width: 100%;
    height: 115px;
    overflow: hidden;
}
/* icon */
.material-symbols-outlined {
    padding-top: 50px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
#icon-left{
    z-index: 999;
    width: 20px;
    cursor: pointer;
    margin-right: 10px;
}
#icon-right{
    z-index: 999;
    width: 20px;
    cursor: pointer;
}
.photo-button > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -40px;
    position: relative;
    margin-top: 0px;
}
.photo-button > ul > li{ 
    padding: 0;
    display: inline-block;   
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer; 
    transition: 0.5s;  
}
.photo-button > ul > li:hover{
    background-color: #E0E0E0;
    border: 0.5px solid #888787;
}
.photo-button > ul > li > img{
    width: 100%;
}
.profile-1{
    width: 500px;   
    padding: 0 2.1875rem 0 1.25rem; 
}
.profile-2{
    /* border: solid rgb(168, 164, 164) 1px; */
    padding:0 0 50px 10px;
    margin-bottom: 30px;    
}
.profile-2 > div {   
    display: flex;
    margin: 20px 0px 20px 0px;
}
div > label{
    display: flex;
    width: 110px;
}
.product-name{    
    width: 100%;
    font-size: 2.3rem;
}

.product-name > label{
    width: 100%;
    display: inline-flex;
    justify-content: center;
}
.product-type{
    width: 250px;   
}
.product-price{
    width: 250px;
}
.cargo > label{
    width: 100px;
}
.give{
    display: flex;
    width: 100px;
    padding-top: 5px;
}

.give-car{
    width: 50px;
}

.give-car > img{
    width: 100%;
}

.give > input{
    height: 20px;
}

.product-spe > label{
    width: 150px;
}
.spe{
    width: 300px;
}
.div_space{
    padding-right: 50px;
}
.spe-pro{
    width: 100%;
    display: flex;
}
.spe-pro > label{
    width: 110px;
}
.pro{
    display: flex;
    width: 100px;
}
.product-volume > label{
    width: 110px;
}
.amount{
    width: 250px;
    display: flex;
}
.amount > div{
    width: 150px;
    display: flex;
}
.add,.less{
    width: 30px;
    height: 30px;
}
#amount{
    width: 50px;
    text-align: center;
    border: solid rgb(168, 164, 164) 0.5px;
    border-left: 0px;
    border-right: 0px;
}
.product-intro{
    width: 100%;
    padding: 0;
}
.product-intro > label{
    min-width: 100px;
}
.product-intro >p{
    width: 350px;
    margin-top: 10px;
}
.product_btn{
    display: flex;
    justify-content:center ;
    margin-bottom: 30px;
}
.product_btn > input{
    width: 100px;
    height: 40px;
    margin: 0 10px 0 10px;
    cursor: pointer;
}
/* spe-2 */
.spe-2{
    width: 32.1rem;
}
.spe_1 span{
    display: flex;
    width: 100px;
}
.spe_1_choice{
    display: flex;
    flex-wrap: wrap;
}
.spe_1_choice_button{
    color: #000000;
    text-align: left;
    cursor: pointer;
    padding: .25rem .75rem;
    margin: 0 8px 8px 0;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid rgb(0,0,0,0.09);
}
.spe_1_choice_button:hover{
    border-color: #66B3FF;
    color: #66B3FF;
}
.invant{
    font-size: 0.8rem;
}
.spe_1_choiced_button{
    text-align: left;
    cursor: pointer;
    padding: .25rem .75rem;
    margin: 0 8px 8px 0;
    background-color: #fff;
    border-radius: 2px;
    border-color: #66B3FF;
    color: #66B3FF;
}
/* spe-2 */



@media screen and (max-width:550px){
    .body-1{
        width: 100%;
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .search{
        width: 100%;
        display: flex;
        justify-content: right;
    }
    .search > div{
        padding-top: 10px;
        width: 50px;
    }
    .search > div > img{
        width: 100%;
    }
    
    /* profile */
    .profile{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .profile > div {
        width: 300px;
        padding:0 0 30px 0;
    }
    .photo{
        width: 200px;
    }
    .photo-top{    
        border: solid black 1px;   
        width: 100%;
    }
    .photo-top > div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .photo-button{
        border: solid black 1px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .photo-button > div{ 
        display: inline-block;   
        width: 80px;
        margin: 5px;
        cursor: pointer;    
    }
    .photo-button > div > img{
        border: solid black 1px;
        width: 100%;
    }
    .profile-1{
        width: 500px;    
    }
    .profile-2{        
        padding-left:0px;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    .profile-2 > div {   
        display: flex;
        margin: 10px 0px 10px 0px;
    }
    div > label{
        display: flex;
        width: 110px;
    }
    .product-name{    
        width: 100%;
        justify-content: center;
        font-size: 36px;
    }
    .product-name > label{
        width: 100%;
        display: inline-flex;
        justify-content: center;
    }
    .product-type{
        width: 250px;   
    }
    .product-price{
        width: 250px;
    }
    .cargo{
        width:250px;
    }
    .cargo > label{
        width: 100px;
    }
    .give{
        display: flex;
        width: 100px;
        padding-top: 5px;
        font-size: 18px;
    }
    .product-spe > label{
        width: 100px;
    }
    .spe{
        width: 300px;
    }
    .div_space{
        padding-right: 50px;
    }
    .spe-pro{
        width: 100%;
        display: flex;
    }
    .spe-pro > label{
        width: 110px;
    }
    .pro{
        display: flex;
        width: 100px;
    }
    .product-volume > label{
        width: 100px;
    }    
    .product-intro > label{
        min-width: 110px;
    }    
    .product_btn{
        display: flex;
        justify-content:center ;
    }
    .product_btn > button{
        width: 100px;
        height: 40px;
        margin: 0 10px 0 10px;
    }
    
}
@media screen and (max-width:280px){
    body{
        font-size: 14px;
    }
    .body-1{
        width: 100%;
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .search{
        width: 100%;
        display: flex;
        justify-content: right;
    }
    .search > div{
        padding-top: 10px;
        width: 50px;
    }
    .search > div > img{
        width: 100%;
    }
    .search-search{
        margin:23px 10px 0px 0px;
        width: 150px;
        height: 30px;
    }
    /* profile */
    .profile{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .profile > div {
        width: 250px;
        padding:0 0 30px 0;
    }
    .photo{
        width: 200px;
    }
    .photo-top{    
        border: solid black 1px;   
        width: 100%;
    }
    .photo-top > div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .photo-button{
        border: solid black 1px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .photo-button > div{ 
        display: inline-block;   
        width: 80px;
        margin: 5px;
        cursor: pointer;    
    }
    .photo-button > div > img{
        border: solid black 1px;
        width: 100%;
    }
    .profile-1{
        width: 500px;    
    }
    .profile-2{
        padding-left:0px;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    .profile-2 > div {   
        display: flex;
        margin: 10px 0px 10px 0px;
    }
    div > label{
        display: flex;
        width: 110px;
    }
    .product-name{    
        width: 100%;
        justify-content: center;
        font-size: 36px;
    }
    .product-name > label{
        width: 100%;
        display: inline-flex;
        justify-content: center;
    }
    .product-type{
        width: 250px;   
    }
    .product-price{
        width: 250px;
    }
    .cargo{
        width:250px;
    }
    .cargo > label{
        width: 100px;
    }
    .give{
        display: flex;
        width: 100px;
        padding-top: 5px;
        font-size: 14px;
    }
    .product-spe > label{
        width: 100px;
    }
    .spe{
        width: 250px;
    }
    .div_space{
        padding-right: 50px;
    }
    .spe-pro{
        width: 100%;
        display: flex;
    }
    .spe-pro > label{
        width: 110px;
    }
    .pro{
        display: flex;
        width: 100px;
    }
    .product-volume > label{
        width: 100px;
    }
    .product-intro{
        width: 250px;
    }
    .product-intro > label{
        min-width: 110px;
    }
    .product-intro >span{
        width: 250px;
        margin-top: 10px;
    }
    .product_btn{
        display: flex;
        justify-content:center ;
    }
    .product_btn > button{
        width: 100px;
        height: 40px;
        margin: 0 10px 0 10px;
    }
    
}

@media screen and (min-width:550px) and (max-width:1024px){
    .body-1{
        width: 100%;
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .search{
        width: 100%;
        display: flex;
        justify-content: right;
    }
    .search > div{
        padding-top: 10px;
        width: 50px;
    }
    .search > div > img{
        width: 100%;
    }
    /* profile */
    .profile{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .profile > div {
        width: 300px;
        padding: 0px 10px 0px 10px;
    }
    .photo{
        width: 400px;
    }
    .photo-top{    
        border: solid black 1px;   
        width: 100%;
    }
    .photo-top > div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .photo-button{
        border: solid black 1px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .photo-button > div{ 
        display: inline-block;   
        width: 80px;
        margin: 5px;
        cursor: pointer;    
    }
    .photo-button > div > img{
        border: solid black 1px;
        width: 100%;
    }
    .profile-2{
        padding-left: 10px;
        margin-bottom: 30px;
    }
    .profile-2 > div {   
        display: flex;
        margin: 10px 0px 10px 0px;
    }
    div > label{
        display: flex;
        width: 110px;
    }
    .product-name{    
        width: 100%;
        justify-content: center;
        font-size: 36px;
    }
    .product-name > label{
        width: 100%;
        display: inline-flex;
        justify-content: center;
    }
    .product-type{
        width: 250px;   
    }
    .product-price{
        width: 250px;
    }
    .cargo{
        width: 280px;
    }
    .cargo > label{
        width: 100px;
    }
    .give{
        display: flex;
        width: 100px;
        padding-top: 5px;
        font-size: 18px;
    }
    .product-spe{
        width: 280px;
    }
    .product-spe > label{
        width: 100px;
    }
    .spe{
        width: 200px;
    }
    .div_space{
        padding-right: 50px;
    }
    .spe-pro{
        width: 100%;
        display: flex;
    }
    .spe-pro > label{
        width: 110px;
    }
    .pro{
        display: flex;
        width: 100px;
    }
    .product-volume > label{
        width: 100px;
    }
    .product-intro{
        width: 250px;
    }
    .product-intro > label{
        min-width: 110px;
    }
    .product-intro >span{
        width: 300px;
        margin-top: 10px;
    }
    .product_btn{
        display: flex;
        justify-content:center ;
    }
    .product_btn > button{
        width: 100px;
        height: 40px;
        margin: 0 10px 0 10px;
    }


}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #000000;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #66B3FF;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}