body{
    margin: 0%;
    font-size: 1rem;
}
.body-1{
    width: 100%;
    margin-top: 5rem;
    min-height: 100%;
}
.title-title{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}
.title-title > p{
    margin:10px 0 0 0;
}
.trash-can{
    display: flex;
    justify-content: right;
}
.trash-can input{
    cursor: pointer;
    border:0.5px solid rgb(185, 180, 180);
    width: 50px;
    height: 30px;
}
.trash-can input:hover{
    background-color:red;
}
.profile{
    width: 1000px;
    padding-top: 30px;
    margin: auto;
}
.profile > table{
    margin: auto;
    width: 100%;
}
td{
    padding: 10px 20px 10px 20px;
}
.title{
    background-color: rgb(235, 229, 229);
    display: flex;
    width: 100%;
}
.title > div{
    text-align: center;    
}
.product-name{
    width: 150px;
    padding-right: 30px;
}
.product-type{
    /* width: 150px; */
}
.product-price{
    margin-right: 30px;
}
.product-amount{
    /* margin-left: 100px; */
    width: 100px;
}
.product-give{
    width: 100px;
    padding-left: 30px;
    margin-right: 30px;
}
.all_choose{
    padding-left: 10px;
}
.all_choose > input{
    width: 30px;
    height: 30px;
}
.demander{
    margin: auto;
    display: flex;
    border: 1px solid rgb(214, 207, 207);
    background-color: white;
}
.demander > div{
    padding: 10px;
}
.choose{
    display: flex;
    align-items: center;
}
.choose > input{
    width: 30px;
    height: 30px;
}
.img{
    width:50px;
    height: 50px;
}
.img > img{
    width: 100%;
}
.name{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.type{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.price{
    width: 70px;
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.amount{
    width: 100px;
    display: flex;
    align-items:flex-end;    
}
.amount > div{
    height: 30px;
    display: flex;    
}
.amount1{
    width: 50px;
}
.option{
    display: flex;
    align-items: flex-end;
}
.no{
    color: red;
}
.send-out{
    margin-top:30px;
    height: 30px;
    display:flex;
    justify-content: center;
}
.sent-out-out{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: 5px 3px 3px gray;
    bottom: 0%;
    margin-top: 70px;
    display: flex;
    /* justify-content: right; */
    align-items: center;
}
.sent-out-out span{
    font-size: 1.4rem;
    margin-left: 30px;
    width: 100%;
}
.sent-out-out input{
    margin-right: 50px;
    width: 100px;
    height: 50px;
}
.sent-out-out input:hover{
    background-color: rgb(235, 229, 229);
}
input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

.submit{
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

@media screen and (min-width:550px) and (max-width:1024px) {
    .body-1{
        width: 100%;
        margin-top: 5rem;
        font-size: 1rem;
    }
    td{
        padding: 5px 10px 5px 10px;
    }
    .profile{
        width: 90%;
    }
    .title{
        display: flex;
        width: 100%;
    }
    .title > div{
        text-align: center;    
    }

    .product-name{
        width: 90px;
        padding-right: 0;
        /* margin-right: 100px; */
    }
    .product-type{
        width: 90px;
    }
    .product-price{
        width: 90px;
        margin-right: 10px;
    }
    .product-amount{
        /* margin-left: 100px; */
        width: 90px;
    }
    .product-give{
        width: 90px;
        padding-left: 30px;
        margin-right: 10px;
    }
    .all_choose{
        padding-left: 0px;
    }
    .demander{
        margin: auto;
        display: flex;
        width: 100%;
        border: 1px solid rgb(214, 207, 207);
    }
    .demander > div{
        padding: 10px 0 5px 0; 
    }
    .img{
        width:50px;
        height: 50px;
    }
    .img > img{
        width: 100%;
    }
    .name{
        display: flex;
        align-items: center;
    }
    .amount{
        width: 90px;
        margin-left: 10px;
        display: flex;
        align-items:flex-end;
    }
    .amount > div{        
        height: 30px;
        display: flex;    
    }
    .amount1{
        width: 50px;
    }

    .option{
        font-size: 1rem;
        display: flex;
        align-items: flex-end;
    }

    .send-out{
        margin-top:30px;
        display:flex;
        justify-content: center;
    }
}

@media screen and (min-width:280px) and (max-width:550px) {
    .body-1{
        width: 100%;
        margin-top: 5rem;
        font-size: 1.2rem;
    }
    td{
        padding: 5px 10px 5px 10px;
    }
    .profile{
        width: 100%;
    }
    .profile > table{
        width: 90%;
    }
    .title{
        display: flex;
        width: 100%;
    }
    .title > div{
        text-align: center;
        display: flex;
        justify-content: center;
        text-align: center;    
    }
    .product-name{
        display: none;
        text-align: center;
        width: 100px;
        padding-right: 30px;
    }
    .product-amount{
        display: none;
        width: 80px;
        margin: 0;
    }
    .product-give{
        display: none;
        width: 40px;
        padding-left: 10px;
    }
    .all_choose{
        padding-left: 0px;
    }
    .demander{
        margin: auto;
        display: block;
        width: 100%;
        padding: 10px 0 10px 0px;
        border: 1px solid rgb(214, 207, 207);
    }

    .demander > td{
        padding: 10px 0 5px 0;    
    }
    .img{
        width:100px;
        margin: auto
    }
    .img > img{
        width: 100%;
    }
    .name{
        display: flex;
        align-items: center;
    }
    .amount{
        width: 40px;
        display: flex;
        align-items:flex-end;
    }
    .amount > div{        
        height: 20px;
        display: flex;    
    }
    .amount1{
        width: 30px;
    }
    
    .option{
        display: flex;
        align-items: flex-end;
    }

    .send-out{
        margin-top:30px;
        display:flex;
        justify-content: center;
    }
}

@media screen and (max-width:280px){
    .body-1{
        width: 100%;
        margin-top: 5rem;
        font-size: 1.2rem;
    }
    td{
        padding: 5px 10px 5px 10px;
    }
    .profile{
        width: 100%;
    }
    .profile > table{
        width: 90%;
    }
    .title{
        display: flex;
        width: 100%;
    }
    .title > div{
        text-align: center;    
    }
    .product-name{
        display: none;
        text-align: center;
        width: 100px;
        padding-right: 30px;
    }
    .product-amount{
        display: none;
        width: 80px;
        margin: 0;
    }
    .product-give{
        display: none;
        width: 40px;
        padding-left: 10px;
    }
    .all_choose{
        padding-left: 0px;
    }
    .demander{
        margin: auto;
        display: block;
        width: 100%;
        padding: 10px 0 10px 0px;
        border: 1px solid rgb(214, 207, 207);
    }

    .demander > td{
        padding: 10px 0 5px 0;    
    }
    .img{
        width:100px;
        margin: auto
    }
    .img > img{
        width: 100%;
    }
    .name{
        display: flex;
        align-items: center;
    }
    .amount{
        width: 40px;
        display: flex;
        align-items:flex-end;
    }
    .amount > div{        
        height: 20px;
        display: flex;    
    }
    .amount1{
        width: 30px;
    }

    .option{
        display: flex;
        align-items: flex-end;
    }

    .send-out{
        margin-top:30px;
        display:flex;
        justify-content: center;
    }

}
input[type="checkbox"] {
    /* ...existing styles */
    cursor: pointer;
    display: grid;
    place-content: center;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;    
    border: 0.15em solid currentColor;
    transform: translateY(-0.075em);
  }  
  input[type="checkbox"]::before {
    background-color: black;
    content: "";
    width: 1.35rem;
    height: 1.35rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
  }  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }