body{
    margin: 0;
}

.body-1{
    display: flex;
    margin-top: 3rem;
}
.edit-spe{
    margin: 0 0 10px 10px;
    width: 500px;
    background-color: blanchedalmond;
    padding: 16px;
}
.edit-spe-name{
    display: flex;
}
.edit-spe-name > span{
    font-size: 14px;
    width: 55px;
}
.edit-pro{
    display: flex;
    margin-bottom: 10px;
}
.div_space{
    padding-right: 55.5px;
}
.edit-pro2{
    width: 100%;
    display: inline-flex;
}
.edit-pro > input{
    padding: 10px 4px 10px 10px;
}
.edit-spe-pro{
    margin-top: 10px;
}
.edit-spe-pro > span{
    padding-right: 24px;
    font-size: 14px;
    width: 55px;
}
.edit-btn{
    margin-top:10px ;
    border: 1px dashed black;
    background-color: blueviolet;
    width: 100%;
}
.edit-btn:hover{
    cursor: pointer;
}

.all-type{
    margin: 0 0 10px 10px;
    width: 500px;
    padding: 16px;
}

.type label{
    padding-right: 10px;
}

input[type=button] {
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.sent-out{
    width: 50px;
    height: 30px;
    margin-top: 10px;
    box-shadow: 1px 1px 3px #8b8787;
}
.optype{
    display: flex;
}
.type{
    padding: 10px;
    background-color: blanchedalmond;
    margin-bottom: 20px;
}
#option-1{
    padding: 10px 0 10px 0;
}
.type_1{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 10px 0;
}  
.type_1 hr{
    margin: 1rem 0 1rem 0;
    width: 100%;
} 
.type_1 input{
    margin: 0 10px 0 10px;
}
.sent-out:active{
    box-shadow:none;
}
.option-2{
    width: 75px;
}

@media screen and (min-width:550px) and (max-width:1024px) {

    .body-1{
        display: flex;
        margin-top: 3rem;
    }
    .edit-spe{
        margin: 0 0 10px 10px;
        width: 400px;
        background-color: blanchedalmond;
        padding: 16px;
    }
    .edit-spe-name{
        display: flex;
    }
    .edit-spe-name > span{
        font-size: 14px;
        width: 55px;
    }
    .edit-pro{
        display: flex;
        margin-bottom: 10px;
    }
    .div_space{
        padding-right: 55.5px;
    }
    .edit-pro2{
        width: 100%;
        display: inline-flex;
    }
    .edit-pro > input{
        padding: 10px 4px 10px 10px;
    }
    .edit-spe-pro{
        margin-top: 10px;
    }
    .edit-spe-pro > span{
        padding-right: 24px;
        font-size: 14px;
        width: 55px;
    }
    .edit-btn{
        margin-top:10px ;
        border: 1px dashed black;
        background-color: blueviolet;
        width: 100%;
    }
    .edit-btn:hover{
        cursor: pointer;
    }
    
    .all-type{
        margin: 0 0 10px 10px;
        width: 210px;
        background-color: blanchedalmond;
        padding: 16px;
    }
    
    input[type=button] {
        background:#ccc; 
        border:0 none;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px; 
    }
    
    .sent-out{
        width: 50px;
        height: 30px;
        margin-top: 10px;
        box-shadow: 1px 1px 3px #8b8787;
    }

    
}

@media screen and  (max-width:550px) {

    .body-1{
        display: flex;
        margin-top: 3rem;
    }
    .edit-spe{
        margin: 0 0 10px 10px;
        width: auto;
        background-color: blanchedalmond;
        padding: 16px;
    }
    .edit-spe-name{
        display: flex;
    }
    .edit-spe-name > span{
        font-size: 14px;
        width: 55px;
    }
    .edit-pro{
        display: flex;
        margin-bottom: 10px;
    }
    .div_space{
        padding-right: 55.5px;
    }
    .edit-pro2{
        width: 100%;
        display: inline-flex;
    }
    .edit-pro > input{
        padding: 10px 4px 10px 10px;
    }
    .edit-spe-pro{
        margin-top: 10px;
    }
    .edit-spe-pro > span{
        padding-right: 24px;
        font-size: 14px;
        width: 55px;
    }
    .edit-btn{
        margin-top:10px ;
        border: 1px dashed black;
        background-color: blueviolet;
        width: 100%;
    }
    .edit-btn:hover{
        cursor: pointer;
    }
    
    .all-type{
        margin: 0 0 10px 10px;
        width: auto;
        background-color: blanchedalmond;
        padding: 16px;
    }
    
    input[type=button] {
        background:#ccc; 
        border:0 none;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px; 
    }
    
    .sent-out{
        width: 50px;
        height: 30px;
        margin-top: 10px;
        box-shadow: 1px 1px 3px #8b8787;
    }

    
}