body{
    margin: 0px;
}
/* 新增規格  */
.edit-new-spe{
    width: 200px;
    background-color: burlywood;
    margin-left: 100px;
    display: flex;
    justify-content: center;
}
.edit-new-spe > a{
    text-decoration: none;
    color: black;
}

/* 新增規格結束  */
.body-1{
    width: 100%;
    min-height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.search{
    width: 100%;
    display: flex;
    justify-content: right;
}
/* profile */
.profile{
    width: 100%;
    display: flex;
    justify-content: center;
}
.profile > div {
    padding: 0px 40px 0px 40px;
}
.photo{
    width: 400px;
}
.photo-top{
    cursor: pointer;
    border: solid black 1px;   
    width: 100%;
}
.photo-top > div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.photo-top > div > input{
    display: none;
    background-color: white;
    border: 1px dashed black;
    cursor: pointer;
}
.photo-button{
    border: solid black 1px;
    width: 100%;
}
.photo-button > div{ 
    display: inline-flex;   
    width: 120px;
    padding: 5px;
    cursor: pointer;
}
.photo-button > div > img{
    border: solid black 1px;
    width: 100%;
}
.profile-1{
    width: 500px;
}
.form > div {
    display: flex;
    margin: 10px 0px 10px 0px;
    font-size: 20px;
}
div > label{
    display: flex;
    width: 110px;
}
div > label > input{
    width: 100px; 
}
#product-spe{
    display: block;
}
.product-spe > label{
    width: 120px;
    padding-right: 14px;
}
.edit-spe{
    margin: 0 0 10px 10px;
    width: 500px;
    background-color: blanchedalmond;
    padding: 16px;
}
.edit-spe-name{
    display: flex;
}
.edit-spe-name > span{
    font-size: 14px;
    width: 55px;
}
.edit-pro{
    display: flex;
    margin-bottom: 10px;
}
.div_space{
    padding-right: 55.5px;
}
.edit-pro2{
    width: 100%;
    display: inline-flex;
}
.edit-pro > input{
    padding: 10px 4px 10px 0;
}
.edit-spe-pro{
    margin-top: 10px;
}
.edit-spe-pro > span{
    padding-right: 24px;
    font-size: 14px;
    width: 55px;
}
.edit-btn{
    margin-top:10px ;
    border: 1px dashed black;
    background-color: blueviolet;
    width: 100%;
}
.edit-btn:hover{
    cursor: pointer;
}
.product-volume{
    display: flex;
}
.product-volume > div > input{
    width:50px ;
}
.product-intro{
    display:flex;
}
.product-intro > label{
    min-width: 110px;
}
.product-intro > textarea{
    min-width: 500px;
    min-height: 200px;
    max-width: 500px;
    max-height: 450px;
}
.product_btn{
    display: flex;
    justify-content:center ;
}
.product_btn > button{
    width: 50px;
    height: 40px;
    margin: 0 10px 0 10px;
}

@media screen and (max-width:550px){
    .body-1{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .search{
        width: 100%;
        display: flex;
        justify-content: right;
    }
    .search > div{
        padding-top: 10px;
        width: 30px;
    }
    .search > div > img{
        width: 100%;
    }
    .search-search{
        margin:12px 10px 0px 0px;
        width: 110px;
        height: 30px;
    }
    /* profile */
    .profile{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .profile > div {
        padding: 0px 8px 0px 8px;
    }
    .photo{
        width: 100%;
    }
    .photo-top{
        cursor: pointer;
        border: solid black 1px;   
        width: 100%;
    }
    .photo-top > div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .photo-top > div > img{
        width: 100%;
    }
    .photo-top > div > input{
        display: none;
        background-color: white;
        border: 1px dashed black;
        cursor: pointer;
    }
    .photo-button{
        display: flex;
        justify-content: center;
        border: solid black 1px;
        width: 100%;
    }
    .photo-button > div{ 
        display: inline-flex;   
        width: 60px;
        padding: 10px;
        cursor: pointer;
    }
    .photo-button > div > img{
        border: solid black 1px;
        width: 100%;
    }
    .profile-1{
        width: 100%;
        margin: 0px;
        display: flex;
        justify-content: center;
    }    
    .form > div {
        display: flex;        
        margin: 10px 0px 10px 0px;
        font-size: 15px;
    }
    div > label{
        display: flex;
        width: 70px;
    }  
    div > input{
        width: 250px;
    }   
    .product-type > select{
        width: 258px;
    } 
    .product-spe{
        display: block;
    }   
    .product-spe > label{
        text-align: center;
        width: auto;
        padding-right:0px;
    }
    .edit-spe{
        width: 250px;
        background-color: blanchedalmond;
        padding: 8px;
    }
    .edit-spe-name{
        display: flex;
    }
    .edit-spe-name > span{
        font-size: 14px;
        width: 55px;
    }
    .edit-spe-name > input{
        width: 100px;
    }
    .edit-pro{
        display: inline-flex;
        margin-bottom: 10px;
    }
    .edit-pro > input{
        width: 170px;
    }
    .div_space{
        padding-right: 0px;
    }    
    .edit-pro > input{
        padding: 10px 4px 10px 0;
    }
    .edit-spe-pro{
        margin-top: 10px;
        text-align: center;
    }
    .edit-spe-pro > span{
        padding-right: 0px;
        font-size: 14px;
        width: 100%;
        display: inline-flex;
    }
    .edit-btn{
        margin-top:10px ;
        border: 1px dashed black;
        background-color: blueviolet;
        width: 100%;
    }
    .edit-btn:hover{
        cursor: pointer;
    }
    .product-volume{
        display: flex;
    }
    .product-volume > label{
        width: 50px;
    }
    .product-volume > div > input{
        width:50px ;
    }
    .product-intro{
        display:flex;
    }
    .product-intro > label{
        min-width: 70px;
    }
    .product-intro > textarea{
        min-width: 250px;
        min-height: 50px;
        max-width: 250px;
        max-height: 50px;
    }
    .product_btn{
        display: flex;
        justify-content:center ;
    }
    .product_btn > button{
        width: 50px;
        height: 40px;
        margin: 0 10px 0 10px;
    }
}
@media screen and (max-width:280px){
    div > input{
        width: 180px;
    } 
    
    .product-type > select{
        width: 188px;
    } 
    
    .edit-spe{
        width:180px;
        background-color: blanchedalmond;
        padding: 8px;
    }
    .volume >div{
        display: flex;
    }

    .volume > div> input{
        width: 50px;
    }
    

    .product-intro > textarea{
        min-width: 180px;
        min-height: 50px;
        max-width: 180px;
        max-height: 50px;
    }
}

@media screen and (min-width:550px) and (max-width:1024px){
    .body-1{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .search{
        width: 100%;
        display: flex;
        justify-content: right;
    }
    .search > div{
        padding-top: 10px;
        width: 30px;
    }
    .search > div > img{
        width: 100%;
    }
    .search-search{
        margin:12px 10px 0px 0px;
        width: 110px;
        height: 30px;
    }
    /* profile */
    .profile{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .profile > div {
        padding: 0px 8px 0px 8px;
    }
    .photo{
        width: 100%;
    }
    .photo-top{
        cursor: pointer;
        border: solid black 1px;   
        width: 100%;
    }
    .photo-top > div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .photo-top > div > img{
        width: 100%;
    }
    .photo-top > div > input{
        display: none;
        background-color: white;
        border: 1px dashed black;
        cursor: pointer;
    }
    .photo-button{
        display: flex;
        justify-content: center;
        border: solid black 1px;
        width: 100%;
    }
    .photo-button > div{ 
        display: inline-flex;   
        width: 60px;
        padding: 10px;
        cursor: pointer;
    }
    .photo-button > div > img{
        border: solid black 1px;
        width: 100%;
    }
    .profile-1{
        width: 100%;
    }    
    .form > div {
        display: flex;
        justify-content: center;
        margin: 10px 0px 10px 0px;
        font-size: 15px;
    }
    div > label{
        display: flex;
        width: 70px;
    }   
    div > input{
        width: 260px;
    } 
    .product-type > select{
        width: 270px;
    }
    .product-spe > label{
        text-align: center;
        width: auto;
        padding-right:0px;
    }
    .edit-spe{
        margin-left: 8px;
        width: 260px;
        background-color: blanchedalmond;
        padding: 8px;
        
    }
    .edit-spe-name{
        display: flex;
        justify-content: left;
    }
    .edit-spe-name > span{
        font-size: 14px;
        width: 50px;       
    }
    .edit-spe-name > input{
        width: 170px;
        padding: 10px 4px 10px 0;
        margin-right: 25px;
    }
    .edit-spe-pro{
        margin-top: 10px;
        width: 100%;
    }
    .div_space{
        padding-right: 49px;
    }
    .edit-pro{
        width: 200px;
        display: flex;
        margin-bottom: 10px;
    }  
    .add-pro > input{
        padding: 10px 4px 10px 0;
    }
    .edit-spe-pro > span{        
        text-align: center;
        padding-right:0px;
        font-size: 14px;
        width: auto;
    }
    .edit-btn{
        margin-top:10px ;
        border: 1px dashed black;
        background-color: blueviolet;
        width: 100%;
    }
    .edit-btn:hover{
        cursor: pointer;
    }
    .product-volume{
        display: flex;
    }
    .product-volume > div > input{
        width:50px ;
    }
    .product-intro{
        display:flex;
    }
    .product-intro > label{
        min-width: 70px;
    }
    .product-intro > textarea{
        min-width: 260px;
        min-height: 50px;
        max-width: 260px;
        max-height: 50px;
    }
    .product_btn{
        display: flex;
        justify-content:center ;
    }
    .product_btn > button{
        width: 50px;
        height: 40px;
        margin: 0 10px 0 10px;
    }


}