body{
    margin: 150px auto 0 auto;
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
}
.body{
    width: 31.25rem;
    min-height: 10.1875rem;
    margin:auto;
    background-color: white;
    box-shadow: 0px 6px 6px #BEBEBE;   
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}
.body p{
    margin: 40px 0 30px 0;
    text-align: center;
    width: 100%;
    height: 30px;
}
.body input[type=text]{
    width: 250px;
    height: 30px;
    padding: 0;
}
.body input[type=submit]{
    width: 250px;
    height: 30px;
    margin: 30px 100px 50px 100px;
    cursor: pointer;
}
.body input[type=text]{
    margin: 5px 5px 15px 5px;
    border: none;
    border-bottom: 0.5px solid #ADADAD;
}