body{
    margin: 0;
    font-family: "微軟正黑體";
}
#header{
    position: relative;
}
.tbody{
    margin-top: 3.5rem;
    display: flex;
    justify-content: center;
    position: relative;
}
.top{
    width: 100%;
    background-color:rgb(0,0,0,1);
    background-blend-mode: multiply;
}
.top > img{
    width: 100%;  
    opacity: 0.8;
}
.top-text{    
    position: absolute;
    width: 630px;
    height: 100px;
    top: 50%;
    bottom: auto;
    left: 5%;    
}

.top-text > div > span{
    font-size: 1rem;
    color: white;
}

.top-text > div{
    padding: 50px;
    background-color: rgb(71, 69, 69,0.6);
}
.top-text > a{
    color: white;
    background-color: rgb(64, 64, 241);
    padding:10px 25px 10px 25px;
    text-decoration: none;
}

@media screen and (max-width:550px) {
   
    .top-text{    
        position: absolute;
        width: 300px;
        height: 100px;
        top: 30%;
        bottom: auto;
        left: 5%;    
    }  

    .top-text > div > span{
        font-size: 0.1rem;
        color: white;
    }

    .top-text > div{
        padding: 10px;
        background-color: rgb(71, 69, 69,0.6);
    }
}

@media screen and (min-width:550px) and (max-width:1024px) {
   
    .top-text{    
        position: absolute;
        width: 300px;
        height: 100px;
        top: 30%;
        bottom: auto;
        left: 5%;    
    }   
    .top-text > div > span{
        font-size: 0.5rem;
        color: white;
    }

    .top-text > div{
        padding: 30px;
        background-color: rgb(71, 69, 69,0.6);
    }
}



