body{
    width: 100%;
    margin: 0;
    font-family: '微軟正黑體';
}
/* header */
/* tbody */
.tbody{ 
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 5rem;
}
.tbody-1{
    width: 900px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-top{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.top{    
    margin: 10px;
    width: 290px;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition-duration: 1s;
    background-color:#ece4e5;
}
.top:hover{
    transform:scale(1.1);   
    background-color:rgb(250, 211, 211); 
}
.top-img{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;        
}
.top-img > div{
    width: 100%;
    height: 100%;    
}
.top-img > div > img{
    width: 100%;
    height: 100%;
}
.left-top-text{
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.left-button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ece4e5;
    margin: 10px;
    width: 190px;
    height: 190px;
    transition-duration: 1s;
}
.button:hover{
    transform: scale(1.1);
    background-color:rgb(250, 211, 211);
}
.button-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-img > div{    
    width: 60%;
    height: 60%;
    margin: auto;
}
.button-img > div > img{
    width: 100%;
    height: 100%;
}
.left-button-text{
    font-size: 24px;
    width: 100%;
    text-align: center;
}
.tbody-right{    
    width: 100%;
    height: 500px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ece4e5;
    transition-duration: 1s;
}
.tbody-right:hover{
    transform: scale(1.1);
    background-color:rgb(250, 211, 211);
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.right-img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.right-img > div {
    width: 90%;
}
.right-img > div > img{
    width: 100%;
}
.right-text{
    width: 100%;
    text-align: center;
    font-size: 34px;
}
.right-text > p{
    margin: 0;
}
a:visited{
    color: black;
}
a{    
    color: black;
    text-decoration: none;    
}
.top-a{
    width: 80%;
    display: flex;
    justify-content: center;
}
@media screen and (max-width:550px){
    .tbody{   
        width: 100%;        
    }    
    .tbody-1{
        width:100%;  
        display: flex;
        justify-content: center;
        flex-wrap: wrap;      
    }
    .tbody-left{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .left-top{
        width: 100%;    
        display: flex;        
        flex-wrap: wrap;  
        justify-content: center;  
    }
    .top{        
        margin:10px 0 10px 0;
        width: 100%;
        height: 300px;
        display: flex;        
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .top-img{
        width: 190px;       
        display: flex;
        justify-content: center;
        align-items: center;        
    }
    .top-img > div{
        width: 100%;
        height: 100%;    
    }
    .top-img > div > img{
        width: 100%;
        height: 100%;
    }
    .left-top-text{
        font-size: 36px;
        text-align: center;
        width: 100%;
    }
    .left-button{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 10px 0 10px 0;
        width: 100%;
        height: 300px;
    }
    .button-img{
        width: 300px;        
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .button-img > div{    
        width: 60%;
        height: 60%;
        margin: auto;
    }
    .button-img > div > img{
        width: 100%;
        height: 100%;
    }
    .left-button-text{
        font-size: 36px;
        width: 100%;
        text-align: center;
    }
    .tbody-right{    
        width: 80%;
        height: 100%;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 300px;
    }
    .right-img{
        width: 200px;               
        display: flex;
        justify-content: center;
    }
    .right-img > div {
        width: 100%;
    }
    .right-img > div > img{
        width: 100%;
    }
    .right-text{
        width: 90%;
        text-align: center;
        font-size: 36px;
    }    
}
@media screen and (min-width:550px) and (max-width:912px) {
    .tbody{ 
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        margin: auto;
    }
    .tbody-1{
        width: 900px;
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left-top{
        width: 100%;
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
    .top{    
        margin: 10px;
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        transition-duration: 1s;
    }
    .top:hover{
        transform:scale(1.1);   
    }
    .top-img{
        width: 160px;
        height:160px;
        display: flex;
        justify-content: center;
        align-items: center;        
    }
    .top-img > div{
        width: 100%;
        height: 100%;    
    }
    .top-img > div > img{
        width: 100%;
        height: 100%;
    }
    .left-top-text{
        font-size: 36px;
        text-align: center;
        width: 100%;
    }
    .left-button{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 10px;
        width: 160px;
        height: 160px;
        transition-duration: 1s;
    }
    .button:hover{
        transform: scale(1.1);
        background-color:rgb(250, 211, 211);
    }
    .button-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .button-img > div{    
        width: 60%;
        height: 60%;
        margin: auto;
    }
    .button-img > div > img{
        width: 100%;
        height: 100%;
    }
    .left-button-text{
        font-size: 24px;
        width: 100%;
        text-align: center;
    }
    .tbody-right{    
        width: 100%;
        height: 430px;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: 1s;
    }
    .tbody-right:hover{
        transform: scale(1.1);
        background-color:rgb(250, 211, 211);
    }
    .right{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .right-img{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .right-img > div {
        width: 90%;
    }
    .right-img > div > img{
        width: 100%;
    }
    .right-text{
        width: 100%;
        text-align: center;
        font-size: 36px;
    }
    .right-text > p{
        margin: 0;
    }
    a:visited{
        color: black;
    }
    a{    
        color: black;
        text-decoration: none;    
    }
    .top-a{
        width: 80%;
        display: flex;
        justify-content: center;
    }
}