body{
    font-size: 1rem;
    margin: 0;
}
.body-1{
    margin-top: 5rem;
}

.title{
    font-size: 18px;
    margin: auto;
    padding-top: 20px;
    text-align: center;
}
.buyer{
    font-size: 36px;
}

.material-symbols-outlined {  /* 左邊箭頭*/   
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#left{
    font-size: 72px;
    position: absolute;
    left: 0px;
    top: 300px;
    cursor: pointer;
}

#right{
    font-size: 72px;
    position: absolute;
    left: 94%;
    top: 300px;
    cursor: pointer;
}

.material-symbols-outlined { /* 右邊箭頭*/  
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.profile{
    min-width: 845px;
    display: -webkit-box;
    overflow: hidden;
}

.profile-1{
    padding: 15px 30px 0 30px;
    margin: auto;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product{
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
    margin-right: 5px;
}

.product-img{
    width: 200px;
    display: flex;
    /* align-items: center; */
    border: 1px solid black;
}

.product-img > img{
    width: 100%;
}

.product-imformation{
    width: 650px;
    display: flex;
    flex-wrap: wrap;
    background-color: #F39292;
    padding-left: 10px;
}

.product-imformation > p{
    margin:5px 0 5px 0;
    width: 100%;
    font-size: 24px;
}

.description{
    display: flex;
}

.description > div{
    margin-right: 50px;
}

.description > div > p{
    width: 200px;
    padding: 5px 0 5px 0;
    margin:0px;
}

@media screen and (max-width:550px) {
    body{
        font-size: 0.7rem;
    }
    .title{
        font-size: 12px;
        margin: auto;
        padding-top: 20px;
        text-align: center;
    }
    .buyer{
        font-size: 24px;
    }
    
    .material-symbols-outlined {  /* 左邊箭頭*/   
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
    }
    
    #left{
        opacity: 0.5;
        font-size: 72px;
        position: absolute;
        left: 0px;
        top: 50%;
        cursor: pointer;
    }
    
    .material-symbols-outlined { /* 右邊箭頭*/  
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
      }

    #right{
        opacity: 0.5;
        font-size: 72px;
        position: absolute;
        left: 80%;
        top: 50%;
        cursor: pointer;
    }
    
    .profile{
        min-width: 300px;
        display: -webkit-box;
        overflow: hidden;
    }
    
    .profile-1{
        padding: 15px 0 0 0;
        margin: auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .product{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    
    .product-img{
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        border: 0;
    }    
    .product-img > img{
        width: 100%;
    }    
    .product-imformation{
        width: 200px;
        height: 150px;
        display: flex;
        flex-wrap: wrap;
        padding-left: 10px;
    }
    
    .product-imformation > p{
        margin:5px 0 5px 0;
        width: 100%;
        font-size: 18px;
    }
    
    .description{
        display: block;
    }
    
    .description > div{
        margin-right: 50px;
    }
    
    .description > div > p{
        padding: 1px 0 1px 0;
        margin:0px;
        width: 100px;
    }
}

@media screen and (min-width:550px) and (max-width:1024px) {
    .title{
        font-size: 1.3rem;
        margin: auto;
        padding-top: 20px;
        text-align: center;
    }
    .buyer{
        font-size: 48px;
    }
    
    .material-symbols-outlined {  /* 左邊箭頭*/   
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
    }
    
    #left{
        opacity: 0.5;
        font-size: 72px;
        position: absolute;
        left: 0px;
        top: 50%;
        cursor: pointer;
    }
    
    .material-symbols-outlined { /* 右邊箭頭*/  
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
      }

    #right{
        opacity: 0.5;
        font-size: 72px;
        position: absolute;
        left: 91%;
        top: 50%;
        cursor: pointer;
    }
    
    .profile{
        min-width: 500px;
        display: -webkit-box;
        overflow: hidden;
    }
    
    .profile-1{
        padding: 15px 30px 0 30px;
        margin: auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .product{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    
    .product-img{
        width: 30%;
        display: flex;
        align-items: center;
        border: 1px solid black;
    }
    
    .product-img > img{
        width: 100%;
    }
    
    .product-imformation{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        padding-left: 10px;
    }
    
    .product-imformation > p{
        margin:5px 0 5px 0;
        width: 100%;
        font-size: 2rem;
    }
    
    .description{
        display: flex;
    }
    
    .description > div{
        margin-right: 50px;
    }
    
    .description > div > p{
        padding: 5px 0 5px 0;
        margin:0px;
        width: 130px;
    }
}