body{
    margin: 0;
}
.order-manu{
    font-weight: bold;
    border-radius: 3px;
    background-color: #e0e0e0;
}  
.body-1{
    margin-top: 4rem;
    min-height: 100%;
    width: 100%;
}
.title{
    padding-top:20px ;
    font-size: 30px;
    width: 1000px;
    margin: auto;
    padding-left: 30px;
    text-align: left;
}
footer{
    margin-top: 150px;
}

.body-2{
    display: flex;
}

.link-hide{
    display: none;
}

.link{
    width: 130px;
    height: 250px;
    margin:0 120px 0 20px ;
    display: grid;
    border-right: 1px solid black;
}

.material-symbols-outlined {
    cursor: pointer;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.link > a{
    cursor: pointer;    
    color: black;
    text-decoration: none;
    margin: 5px 0px 5px 0px;
    transition: 0.5s;
}

.link > a:hover{
    background-color: gray;
    color: white;
}
.date{
    width: 500px;
    margin-bottom:30px ;
}
.date > select{
    width: 100px;
    height: 30px;
}

table{
    border: 1px solid black;
    font-size:18px ;
    width: 100%;
    border-collapse: collapse

}
.order-1 > tbody > tr{
    border: 1px solid black;
}
.order-1 > tbody > tr >td{
    text-align: center;
    border-right: 1px solid black;
}
.order{
    width: 1000px;
}
.order-title{
    background-color: bisque;
}
.order-imformation:hover{
    background-color: rgb(165, 159, 159);
    cursor: pointer;
}
.order-imformation > td > a{
    color: black;
    text-decoration: none;
}
#button-btn-1{
    margin-left: 10px;
}

@media screen and (max-width:550px) {
    .body-1{
        font-size: 12px;
        min-height: 100%;
        width: 100%;
    }
    .title{
        padding-top:0px;
        font-size: 30px;
        width: 300px;
        margin: auto;
        padding-left: 0px;
        text-align: left;
    }
    
    .body-2{
        display: flex;
        flex-wrap: wrap;
    }   

    .link-hide{
        padding-left: 10px;
        font-size: 30px;
        width: 30px;
        display: block;
        height: 30px;
    }
    .link{
        background-color: bisque;        
        position: absolute;
        left: -100px;
        width:100px;
        height: 180px;
        margin:auto;
        border-right:none;
        transform: translateX(-200%);
        transition:0.5s;
    }
    .link-hide:hover ~ .link{
        left: 0px;
        transform: translateX(0%);
    } 
    .link > a{
        cursor: pointer;    
        color: black;
        text-decoration: none;
        margin: 5px 0px 5px 0px;
        transition: 0.5s;
    }    
    .link > a:hover{
        background-color: gray;
        color: white;
    }  
    /*  */
    .date{
        display: flex;
        width: 350px;
        margin-bottom:30px ;
    }  
    /*  */  
    .date > select{
        width: 50px;
        height: 30px;
    }    
    table{
        border: 1px solid black;
        font-size: 12px;
        width: 100%;
        border-collapse: collapse
    
    }    
    .order-1 > tbody > tr{
        border: 1px solid black;
    }    
    .order-1 > tbody > tr >td{
        text-align: center;
        border-right: 1px solid black;
    }
    .order{
        margin: auto;
        width: 90%;
    }
    
    .order-title{
        background-color: bisque;
    }    
}
@media screen and (min-width:550px) and (max-width:1024px) {
    .body-1{
        min-height: 100%;
        width: 100%;
    }
    .title{
        padding-top:20px ;
        font-size: 30px;
        width: 500px;
        margin: auto;
        padding-left: 30px;
        text-align: left;
    }    
    .body-2{
        display: flex;
    }    
    .link-hide{
        display: none;
    }    
    .link{
        width: 130px;
        height: 250px;
        margin:0 80px 0 20px ;
        display: grid;
        border-right: 1px solid black;
    }    
    .link > a{
        cursor: pointer;    
        color: black;
        text-decoration: none;
        margin: 5px 0px 5px 0px;
        transition: 0.5s;
    }    
    .link > a:hover{
        background-color: gray;
        color: white;
    }    
    .date{
        width: 500px;
        margin-bottom:30px ;
    }    
    .date > select{
        width: 100px;
        height: 30px;
    }    
    table{
        border: 1px solid black;
        font-size:18px ;
        width: 100%;
        border-collapse: collapse
    
    }    
    .order-1 > tbody > tr{
        border: 1px solid black;
    }    
    .order-1 > tbody > tr >td{
        text-align: center;
        border-right: 1px solid black;
    }
    .order{
        margin: auto;
        width: 500px;
        padding: 10px;
    }    
    .order-title{
        background-color: bisque;
    }    
}