body{
    margin: 0;
    background-color: #E8E8D0;
}
.body{
    width: 766px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 130px auto;
    background-image: url("../Img/wood3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
    box-shadow: 1px 1px 3px #9D9D9D;
}
.supplier{  
    background-color: rgba(125, 125, 255 ,.6);
    background-blend-mode: multiply;
    padding: 100px;
    display: grid;
}
.supplier input[type=text]{
    margin: 5px 5px 15px 5px;
    border: none;
    border-bottom: 0.5px solid #ADADAD;
    background-color: rgba(125, 125, 255);
}
.supplier input[type=submit]{
    width: 100px;
    height: 30px;
    border: 2px solid #9D9D9D;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #9D9D9D;
    cursor: pointer;
    background-color: #7D7DFF;
    color: white;
}
.supplier input[type=submit]:active{
    box-shadow: none;
}
.supplier p{
    margin-top: 0;
    font-size: 2rem;
    color: white;
}
.supplier-1{
    margin-top: 10px;
}
.supplier-1 a{
    padding-left: 10px;
    color: white;
    text-decoration: none;
}
.demander{
    background-color: rgba(0, 0, 121,.6);
    background-blend-mode: multiply;
    padding: 100px;
    display: grid;
}
.demander input[type=text]{
    margin: 5px 5px 15px 5px;
    border: none;
    border-bottom: 0.5px solid #ADADAD;
    background-color: rgb(0, 0, 121);
}
.demander input[type=submit]{
    width: 100px;
    height: 30px;
    border: 2px solid #9D9D9D;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #9D9D9D;
    cursor: pointer;
    background-color: #000079;
    color: white;
}
.demander p{
    margin-top: 0;
    font-size: 2rem;
    color: white;
}
.demander input[type=submit]:active{
    box-shadow: none;
}
.demander-1 a{
    padding-left: 10px;
    color: white;
    text-decoration: none;
}
.demander-1{
    margin-top: 10px;
}

@media screen and (max-width:550px){
    .body{
        width: 486px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 130px auto;
    
        background-image: url("../Img/wood3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(0, 0, 0, .6);
        background-blend-mode: multiply;
    }
    .supplier{  
        background-color: rgba(125, 125, 255 ,.6);
        background-blend-mode: multiply;
        padding: 30px;
        display: grid;
    }
    .demander{
        background-color: rgba(0, 0, 121,.6);
        background-blend-mode: multiply;
        padding: 30px;
        display: grid;
    }
}

@media screen and (min-width:550px) and (max-width:1024px) {
    .body{
        width: 566px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 130px auto;
    
        background-image: url("../Img/wood3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(0, 0, 0, .6);
        background-blend-mode: multiply;
    }
    .supplier{  
        background-color: rgba(125, 125, 255 ,.6);
        background-blend-mode: multiply;
        padding: 50px;
        display: grid;
    }
    .demander{
        background-color: rgba(0, 0, 121,.6);
        background-blend-mode: multiply;
        padding: 50px;
        display: grid;
    }
}