* {
    box-sizing: border-box
}
.slideshow-container {
    max-width: 850px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: red;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: black;
    font-size: 30px;
    width: 100%;
    text-align: center;
    font-family: 標楷體;
    margin: auto 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* img {
    height: 500px;
    width: 500px;
} */

.title {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mySlides>img{
    height: 500px;
    width: 500px;
}



/*
*/
.header-1 {
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
    width: 1000px;    
}

.header-text-1 {
    font-size: 20px;
}

.header-text-1>a:link {
    color:black;
    text-decoration: none;
}

.header-text-1>a:visited {
    color:black;
}

.header-text-1>a:hover {
    color: red;
}

.header-text {
    width: 100px;
}

.header-img>div {
    width: 100%;
}

.header-img-logo {
    width: 100px;
}

.header-img-logo>div {
    width: 100%;
}

.header-top {
    flex-wrap: wrap;
}

.header-img-d>div {
    width: 100%;
}

.header-img-logo2 {
    display: flex;
    justify-content: center;
    color: white;
    width: 60px;
}

.header-img-logo2>div {
    padding-top: 10px;
}

.header-tt {
    display: flex;
    justify-content: center;
    top: 0%;
    width: 100%; 
    background-color:#c7c4eb;;
}






/*
*/