.header{
    width: 100%;
    display: flex;
    background-color: rgb(214, 237, 252);
}
.header-menu-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-menu-logo > a > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
}
.header-menu-logo >a> div >img{
    width: 100%;
}
#check{
    display: none;
}
.check:hover{
    color: white;
}
.check{    
    font-size: 30px;
    padding-left: 10px;    
}
.manu{
    position: absolute;
    width: 200px;   
    top: 25px; 
    left:-30px;    
    font-size: 24px;
    list-style-type:none;  
    transform: translateY(-200%);
    transition:0.5s;   
       
}
ul{    
    height: 450px;
    margin-top: 15px;   
    background-color: rgb(252, 214, 214); 
}
li{
    padding: 10px 0px 10px 0px;   
}
#check:checked ~ .manu{  
    transform: translateY(0%);    
}
ul li a{ 
    z-index: 1000;
    color: #000;   
    text-decoration: none;
}
ul li a:visited{
    color: #000;
}